body {
    background-color: black;
    height: 100vh;
    place-items: center;
}

@keyframes animation {
    0% {
        color: deeppink;
    }
    25% {
        color: yellow;
    }
    50% {
        color: greenyellow;
    }
    75% {
        color: deepskyblue;
    }
    100% {
        color: red;
    }
}

p {
    color: white;
    font-size:  clamp(1px, 8vw, 40px);
    font-family: "Bauhaus 93", sans-serif;
    margin: 0;
}

h1 {
    color: white;
    font-family: Harrington, sans-serif;
    font-size: clamp(2rem, 8vw, 50px);
    margin-bottom: 10vh;
}

#rows:hover .line:not(:hover) {
    opacity: 0.2;
}

#mainPage {
    align-content: center;
    margin-bottom: 10vh;
}

#title {
    text-align: center;
}

#title:hover {
    cursor: pointer;
    animation-name: titleHoverAni;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes titleHoverAni {
    0% {
        outline: white 3px dotted;
    }
    25% {
        outline: deeppink 3px dotted;
    }
    50% {
        outline: yellow 3px dotted;
    }
    75% {
        outline: greenyellow 3px dotted;
    }
    100% {
        outline: deepskyblue 3px dotted;
    }
}

#title h1 {
    color: wheat;
}

#slide1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slide-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.count {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    font-size: 25px;
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: black;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.line:hover p {
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.line:hover {
    cursor: pointer;
    outline-offset: 5px;
    outline: 3px wheat double;
}

body {
    background-color: black;
}

#mainPageBody {
    display: grid;
}

.back {
    position: absolute;
    font-size: 30px;
    right: 40px;
    top: 5px;
}

.goOn {
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 5px;
}

.goOn, .back {
    cursor: pointer;
    transition: 0.6s ease;
    user-select: none;
}

.goOn:hover, .back:hover {
    transform: scale(1.2);
}

#slide1 {
    display: unset;
}

#slide2 {
    display: none;
}

#slide3 {
    display: none;
}

#slide4 {
    display: none;
}

#box3 {
    text-align: center;
}

#facts {
    color: white;
    font-family: "Bauhaus 93", sans-serif;
    font-size:  clamp(1px, 8vw, 50px);
    margin: 0;
    overflow: hidden;
}

#fact {
    color: white;
    font-family: "Bauhaus 93", sans-serif;
    font-size:  clamp(1px, 8vw, 40px);
    margin: 0;
    overflow: hidden;
}


#dud {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

#dud img {
    position: absolute;
    bottom: -10px;
    right: 10px;
    height: 25vh;
}

.word {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.word span {
    display: inline-block;
    margin: 0;
    padding: 0;
}

h6 {
    color: white;
    font-family: "Dubai", sans-serif;
    font-size:  clamp(1px, 8vw, 15px);
    margin-left: 20px;
}

.line:hover span:nth-child(1) {
    transform: translate(0%, 8%) rotate(-8deg);
}

.line:hover span:nth-child(2) {
    transform: translate(0%, -20%) rotate(5deg);
}

.line:hover span:nth-child(3) {
    transform: translate(0%, 20%) rotate(-3deg);
}

.line:hover span:nth-child(4) {
    transform: translate(0%, -10%) rotate(2deg);
}

.line:hover span:nth-child(5) {
    transform: translate(0%, 10%) rotate(8deg);
}

.line:hover span:nth-child(6) {
    transform: translate(0%, -5%) rotate(-5deg);
}

.line:hover span:nth-child(7) {
    transform: translate(0%, 12%) rotate(3deg);
}

.line:hover span:nth-child(8) {
    transform: translate(0%, -8%) rotate(-2deg);
}

.line:hover span:nth-child(9) {
    transform: translate(0%, 5%) rotate(5deg);
}

.line:hover span:nth-child(10) {
    transform: translate(0%, -12%) rotate(-3deg);
}

.line:hover span:nth-child(11) {
    transform: translate(0%, 8%) rotate(2deg);
}

.line:hover span:nth-child(12) {
    transform: translate(0%, -10%) rotate(-8deg);
}

.line:hover span:nth-child(13) {
    transform: translate(0%, 5%) rotate(5deg);
}

.line:hover span:nth-child(14) {
    transform: translate(0%, -12%) rotate(-3deg);
}

.line:hover span:nth-child(15) {
    transform: translate(0%, 8%) rotate(2deg);
}

.line:hover span:nth-child(16) {
    transform: translate(0%, -10%) rotate(-8deg);
}

.line:hover span:nth-child(17) {
    transform: translate(0%, 5%) rotate(5deg);
}

.line:hover span:nth-child(18) {
    transform: translate(0%, -12%) rotate(-3deg);
}

.line:hover span:nth-child(19) {
    transform: translate(0%, 8%) rotate(2deg);
}

.line:hover span:nth-child(20) {
    transform: translate(0%, -10%) rotate(-8deg);
}

#dud:hover img {
    transform: scale(1.1);
}

#dud:hover h6 {
    transform: scale(1.1);
}

#dud:hover {
    cursor: pointer;
}

#box3:hover h3 {
    animation: animation 0.5s linear infinite;
}

#box3:hover h2 {
    animation: animation 0.5s linear infinite;
}

#info {
    text-align: center;
    outline: wheat 4px dotted;
}

#info h1 {
    font-size: clamp(1px, 8vw, 60px);
    margin-bottom: 15px;
}

#info p {
    font-size: clamp(1px, 8vw, 40px);
    margin-left: 10px;
    margin-right: 10px;
    font-family: Dubai, sans-serif;
}

#data {
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    text-align: center;
    outline: wheat 4px dotted;
    vertical-align: top;
    height: 43vh;
}

#quellen h1 {
    font-size: clamp(1px, 8vw, 60px);
    margin-bottom: 15px;
}

#live-img {
    position: sticky;
    bottom: 20px;
    right: 2.55vh;
    outline: wheat 4px solid;
    width: 48.8%;
    float: right;
    height: 48vh;
}

#live-img img {
    width: 100%;
    height: 100%;
}

.side {
    display: inline-block;
    width: 49%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 2vh;
    background-color: black;
    display: flex;
    font-size: 10px;
    font-family: Dubai, sans-serif;
}

#infoBoxLeft {
    display: none;
    position: absolute;
    left: 5vh;
    bottom: 20vh;
    height: 250px;
    width: 400px;
    border: wheat 3px dotted;
    justify-content: flex-start;
    align-items: center;
}

#infoBoxLeft p {
    font-size: 10px;
}

#box1 {
    width: 30%;
    height: 40%;
    position: absolute;
    left: 5vh;
    bottom: 5vh;
    outline: wheat 4px double;
    justify-content: flex-start;
    align-items: center;
}

#box1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 99.5% !important;
    height: 99% !important;
}

#box2 {
    width: 30%;
    height: 40%;
    position: absolute;
    left: 5vh;
    top: 5vh;
    border: wheat 4px double;
    justify-content: flex-start;
    align-items: center;
}

#box3 {
    width: 30%;
    height: 60%;
    position: absolute;
    text-align: center;
    right: 5vh;
    top: 5vh;
    border: wheat 4px double;
    max-width: 30%;
    max-height: 60%;
}

#title:hover {
    outline: wheat 3px double;
    outline-offset: 5px;
}

.boxes {
    display: none;
}